.education {
  margin: 50px auto;

  @media (max-width: 560px) {
    margin: 10px auto;
  }

  .education__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .info__title {
      text-align: center;
      border-bottom: 1px solid gainsboro;
      width: 100%;
    }

    .info__blocks {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: column;
      color: rgb(24, 33, 83);

      .info__block {
        display: flex;
        margin: 50px auto;

        @media (max-width: 560px) {
          flex-direction: column;
          align-items: center;
          margin: 15px auto;
        }

        .info__year, .info__description {
          display: flex;
          flex-direction: column;
          flex: 1;
          margin: 25px;
          align-items: flex-end;

          @media (max-width: 560px) {
            align-items: center;
          }

          h6 {
            font-size: 16px;
          }

          .achievement {
            color: dimgrey;
            font-size: 15px;
            cursor: pointer;
            transition: font-size 0.3s ease-in-out;

            &:hover {
              font-size: 16px;
            }
          }
        }
      }
    }
  }
}