form {
  display: flex;
  flex-direction: column;

  @media (max-width: 450px) {
    width: 300px;
  }

  @media (max-width: 350px) {
    width: 270px;
  }

  .form__input {
    display: flex;
    justify-content: center;
    align-items: center;

    .form__input__block {
      flex-direction: column;
      width: 100%;
    }

    @media (max-width: 450px) {
      flex-direction: column;
    }

    .form__input__name {
      width: 95%;

      @media (max-width: 450px) {
        width: 100%;
      }
    }

    .form__input__email {
      width: 100%;
    }

    .form__input__phone {
      width: 100%;
    }

    textarea {
      width: 100%;
      height: 180px;
    }

    input, textarea {
      padding: 7px;
      margin: 5px 10px;
      background: white;
      cursor: pointer;
      width: 100%;

      @media (max-width: 450px) {
        width: 100%;
      }
    }
  }

  .button__submit {
    cursor: pointer;
    width: 100%;
    background: rgb(24, 33, 83);
    padding: 10px;
    margin: 0 0 0 15px;
    color: white;
  }
}