.contact {
  background: rgb(241, 241, 241);

  .info__title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: rgb(24, 33, 83);
    border-bottom: 1px solid white;

    p {
      padding-bottom: 26px;
    }
  }

  .contact__content {
    flex: 1 1 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

    @media (max-width: 750px) {
      flex-direction: column;
    }

    .form {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 40px auto;
    }

    .contact__info {
      flex: 1;
      display: flex;
      flex-direction: column;
      color: rgb(24, 33, 83);
      padding: 30px;
      border-left: 1px solid white;

      @media (max-width: 750px) {
        border: none;
      }

      .contact__info__block {
        border-bottom: 1px solid rgb(24, 33, 83);
        padding: 0 0 50px 0;


        .contact__info__text {
          padding: 13px;

          .info__text {
            font-size: 18px;
            font-weight: 500;
          }
        }
      }

      .socials {
        display: flex;
        justify-content: flex-start;
        margin: 50px 10px;

        .socials__list {
          display: flex;
          justify-content: flex-start;

          .socials__item {

            a, img {
              width: 40px;
              margin: 5px;
            }
          }
        }
      }
    }
  }
}