.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background: rgb(245, 245, 247);
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  box-shadow: 4px 5px 5px rgba(0, 0, 0, 0.5);

  @media (max-width: 770px) {
    flex-direction: column;
  }

  @media (max-width: 540px) {
    flex-direction: row;
  }

  .logo__text {
    font-size: 28px;
    color: rgb(24, 33, 83);
  }

  .nav {
    @media (max-width: 770px) {
      padding-top: 20px;
    }

    @media (max-width: 540px) {
      display: none;
    }

    .nav__list {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .nav__item {
        margin: 0 10px;

        a {
          font-size: 16px;
          cursor: pointer;
          color: rgb(24, 33, 83);
        }
      }
    }
  }

  .menu__mobile {
    display: none;
    @media (max-width: 540px) {
      display: block;
    }
  }

  .mobile__menu__open {
    display: none;
  }

  @media (max-width: 540px) {
    .mobile__menu__open {
      position: fixed;
      inset: 0;
      background: #fff;
      z-index: 200;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .mobile__btn__close {
        cursor: pointer;
        position: absolute;
        top: 16px;
        right: 16px;
        background: none;
        border: none;
        font-size: 24px;
        color: rgb(24, 33, 83);
      }

      .mobile__nav__list {
        display: flex;
        flex-direction: column;
        gap: 32px;

        .mobile__nav__item {
          cursor: pointer;
          font-size: 20px;
          color: rgb(24, 33, 83);
        }
      }
    }
  }
}